.app-wrapper {
  display: grid;
  grid-template-rows: 1fr 24fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas:
    "h h"
    "n c";

  width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(155, 155, 17);
}

/* salut cum treaba? */
